.carousel-caption{
    bottom: 6rem;
}

.carousel{
    position: relative;
    z-index: -1;

}

.new{
    z-index: 999;
}

.carousel::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    content: "";
    z-index: ;
}
